.grid-container {
  display: grid;
  grid-template-columns: 550px 250px 200px;
  grid-auto-rows: minmax(auto, 350px);
  justify-content: center;
  grid-gap: 50px;

  font-family: "Barlow Semi Condensed", sans-serif;

  /* Positon top of the container to the middle of the page */
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile-img {
  border-radius: 50px;
}

.user-info {
  width: 130px;
  padding-left: 5px;
}

.grid-item {
  padding: 20px;
}

.grid-item-1 {
  background-color: hsl(263, 55%, 52%);
}

.quotations {
  padding-left: 100px;
}

.review-title {
  margin: 0;
  margin-top: 2px;
}

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 450px 250px;
  }
}

@media screen and (max-width: 735px) {
  .grid-container {
    grid-template-columns: 400px;
  }

  @media screen and (max-width: 375px) {
    .grid-container {
      grid-template-columns: 350px;
    }
    .grid-item {
      font-size: 13px;
    }
  }
}
