.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 200px;

  gap: 50px;
}

.grid-item-1 {
}

.grid-item-2 {
  width: 250px;
}

.grid-item-3 {
  width: 200px;
}

.user-container {
  display: flex;
  align-items: center;
  width: 200px;
}

.profile-img {
  border-radius: 50px;
}
